*{
    padding: 0px;
    margin: 0%;
    box-sizing: border-box;
}
#sec44 img{
    height: 30vh;
    width: 260px;
    padding-left: 60px;
}
.section1{
    width: 90%;
    margin: 20px;;
    }
    
    .section1 td:nth-child(1){
    width:40%;
    }
    
    .section1 .form{
    background:#fff;
    padding:2rem;
    box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
    border-radius:5px;
    text-align:center;
    width:70%;
    margin:auto;
    /* position:relative; */
    top:-10vh;
    }
    
    .section1 .form h4{
    color:gray;
    letter-spacing:0.08em;
    }
    
    .section1 .form h1{
    font-size:2em;
    position:relative;
    top: -20px;
    }
    
    .section1 .form input,.section1 .form select{
    display:block;
    margin:10px auto;
    padding:1rem;
    background:transparent;
    border:1px solid gray;
    border-radius:5px;
    color:gray;
    font-weight:600px;
    width: 100%;
    }
    
    .section1 .form .btn2{
    width:100%;
    background-color: #00D9a5;
    height: 5vh;
    border-radius: 7px;
    cursor: pointer;
    }
    
    .section1 td:nth-child(2) h1{
    font-size:2em;
    }
    
    .section1 td:nth-child(2) p{
    letter-spacing:0.08em;
    line-height:1.4em;
    }
    
    .section1 td em:before{
    content:"";
    width:50px;
    height:50px;
    padding:4px 15px;
    border-radius:50%;
    background:#ddd;
    position:relative;
    left:20px;
    z-index:-1;
    }
    @media screen and (max-width: 650px) {
        .section1 td:nth-child(1){
            width:100%;
            display:block;
            }
            .section1 .form{
            background:#fff;
            padding:2rem;
            box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
            border-radius:5px;
            text-align:center;
            width:100%;
            margin:auto;
            position:relative;
            top:0vh;
            }
            .section1 td:nth-child(2){
            padding:10vh 0;
            }
            table td{
                display:block;
                width:100%;
                }
                .title_header{
                width:90%;
                }
                .title_header h1{
                font-size:1.5em;
                }
                .container{
                width:100%;
                height:100%;
                padding:10vh 0;
                }
                .container section{
                position:relative;
                top:5vh;
                margin:1rem;
                width:90%;
                }
                .container section h1{
                font-size:1.5em;
                }
                .section1 td:nth-child(1){
                width:100%;
                display:block;
                }
                .section1 .form{
                background:#fff;
                padding:2rem;
                box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
                border-radius:5px;
                text-align:center;
                width:100%;
                margin:auto;
                position:relative;
                top:0vh;
                }
                .section1 td:nth-child(2){
                padding:10vh 0;
                }
    }